Source: bkctld
Section: utils
Priority: optional
Maintainer: Evolix <info@evolix.fr>
Uploaders: Jérémy Lecour <jlecour@evolix.fr>, David Prévot <dprevot@evolix.fr>
Build-Depends: debhelper-compat (= 13), dh-exec
Standards-Version: 4.5.1
Rules-Requires-Root: no
Homepage: https://gitea.evolix.org/evolix/evobackup

Package: bkctld
Architecture: all
Depends: cryptsetup,
         duc-nox | duc,
         lsb-base,
         lsof,
         openssh-server,
         procps,
         rsync,
         ${misc:Depends}
Recommends: btrfs-progs
Description: Tool for manage rsync jail for backup
 bkctld is a shell script to create and manage a backup server
 which will handle the backup of many servers (clients).
