Source: bkctld
Section: utils
Priority: optional
Maintainer: Victor Laborie <vlaborie@evolix.fr>
Build-Depends: debhelper (>= 13~), dh-exec
Standards-Version: 4.0.0

Package: bkctld
Architecture: all
Depends: openssh-server, coreutils, rsync, lsb-base, lsof, procps, duc-nox | duc, cryptsetup, ${misc:Depends}
Recommends: btrfs-progs
Description: Tool for manage rsync jail for backup
 bkctld is a shell script to create and manage a backup server
 which will handle the backup of many servers (clients).
